.user{
    color: rgba(255, 255, 255, 0.488); 
    background-color: rgba(211, 211, 211, 0.219);
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;

    img{
        width: 50px;
        border-radius: 0.5rem;
        
    }
}