.header{
    box-sizing: border-box;
    position: sticky;
    padding:1rem;
    color: rgba(240, 248, 255, 0.5);
    background-color: rgba(26, 27, 28, 0.681);
    backdrop-filter: blur(2px);
    top: 0;
    z-index: 10;

    >div{
        max-width: min(1350px,100vw - 2em);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

