@import "../../index.module.scss";
.wrap{
    background: rgb(240,248,255);
    background: linear-gradient(179deg, rgba(240,248,255,0.16) 16%, rgba(0,212,255,0) 90%);
    padding:$padingSIze;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    gap: $gapValue;
    >h1{
        color: $fontColor;
    }
}
.params{
    display: flex;
    flex-wrap: wrap;
    gap: $gapValue;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg{
        cursor: pointer;
        transition: 0.3s;
        font-size:2rem;
        &:hover{
            color:rgb(204, 204, 204);
        }
    }
}